@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
:root{
  --color: rgba(224, 221, 216, 0.973); 
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat";
  background-color: #333;
  color: #333;
  text-align: center;
  margin: 0;
}
.article {
  background-color: rgba(167, 221, 221, 0.952);
  width: 500px;
  height: 560px;
  padding: 0;
  margin: 30px auto;
  border-radius: 20px;
}
.article__cabecera {
  font-weight: bold;
  width: 100%;
  margin: 0 auto;
  background-color: var(--color);
  border-radius: 20px 20px 0 0;
  position: relative;
}
.cabecera__icon{
  position: absolute;
  width: 60px;
}
.cabecera__icon--git{
  bottom: -30px;
  left: 20px;
}
.cabecera__icon--github{
  bottom: -30px;
  right: 20px;
}
.cabecera__title {
  font-size: 25px;
  padding: 0 30px 0 30px;
  line-height: 60px;
}
.article__text {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
}
a {
  display: inline-block;
  background: rgba(245, 238, 225, 0.973);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  text-align: center;
  color: #343434;
  text-decoration: none;
}
a:hover {
  background: #ecdfd0;
  color: #525252;
}
.footer {
  background-color: #7bc4e6;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 3.5em;
  margin-top: 10px;
  border-radius: 0 0 20px 20px;
}

.footer__p {
  text-align: center;
  padding: 16px;
}
.footer__p span{
  color: rgb(255, 246, 197);
font-weight: bold;
letter-spacing: 3px;
}
